.ke-mask {
    background-color: #000000;
    left: 0;
    top: 0;
    border: none;
    position: absolute;
    z-index: 9999;
}

.ke-loading {
    position: absolute;
    width: 66px;
    height: 66px;
    left: -9999px;
    top: -9999px;
    line-height: 66px;
    text-align: center;
    z-index: 10000;
    background: url('http://img05.taobaocdn.com/tps/i5/T1wjBGXe4CXXXXXXXX-66-66.gif');
}

.ke-dialog {
    position: absolute;
    z-index: 10001;
    background: none repeat scroll 0 0 #C1D9FF;
    border: 1px solid #3A5774;
    color: #000000;
    padding: 4px;
    font-size: 13px;
}

.ke-dialog-iframe {
    position: absolute;
    z-index: 995;
    border: none;
}

.ke-hd-x {
    height: 15px;
    width: 15px;
    right: 10px;
    top: 12px;
    vertical-align: middle;
    position: absolute;
}

.ke-hd-x a {
    display: block;
    text-decoration: none;
    background: url("../assets/toolbar-sprite.png") no-repeat scroll -784px 0 #E0EDFE;
    height: 15px;
    text-indent: -9999px;
    outline: none;
    width: 15px;
}

.ke-hd-x a:hover {
    background-position: -768px 0;
}

.ke-hd {
    background: none repeat scroll 0 0 #E0EDFE;
    color: #000000;
    font-size: 120%;
    font-weight: bold;
    padding: 8px 15px 8px 8px;
}

.ke-bd, .ke-ft {
    background-color: #FFFFFF;
    padding: 8px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

.ke-focus {
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    outline: none;
}
