.ke-popup-wrap {
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    background-color: #FFFFFF;
    border: 1px solid #8F8F73;
    position: absolute;
    z-index: 10001;
    -moz-box-shadow: 3px 3px 13px #DDDDDD;
    -webkit-box-shadow: 3px 3px 13px #DDDDDD;
    box-shadow: 3px 3px 13px #DDDDDD;
}
